*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.image-fullscreen{
    background-color: black;
}

#thumbnail-container{
    position: absolute;
    top: 75px;
    left: 50%;
    /* scroll-snap-type: x mandatory; */
    /* overscroll-behavior-x: contain; */
    overflow: auto;  /* hint from w3schools */
    white-space: nowrap; /* hint from w3schools */
    min-width: 200px; /* min-width due to minimum screen size designed for (iPhone SE) */
    max-width: 300px;
    height: 10%;
    aspect-ratio: 2;
    margin-left: -100px;
    border: 1px solid rgb(255, 255, 255);
    gap:10px;
}

.image-thumbnail{
    height: 100%;
    aspect-ratio: 1;
}

.image-fullscreen{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

#leftBtn{
    position: absolute;
    top: 25px;
    left: 45%;
    padding: 10px;
    height: 45px;
    width: 35px;
    margin-left: -35px;
    border-radius: 50%;
    background-color: aquamarine;
}

#rightBtn{
    position: absolute;
    top: 25px;
    left: 55%;
    padding: 10px;
    height: 45px;
    width: 35px;
    border-radius: 50%;
    background-color: aquamarine;
}

@media(max-width: 800px){
    #thumbnail-container{
        left: 150px;
        max-width: 200px;
    }
    #leftBtn{
        left: 125px;
    }
    #rightBtn{
        left: 165px;
    }
}