*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.image-fullscreen{
    background-color: black;
}

#thumbnail-container{
    position: absolute;
    top: 50px;
    left: 50%;
    /* scroll-snap-type: x mandatory; */
    /* overscroll-behavior-x: contain; */
    overflow: auto;  /* hint from w3schools */
    white-space: nowrap; /* hint from w3schools */
    min-width: 200px; /* min-width due to minimum screen size designed for (iPhone SE) */
    height: 10%;
    aspect-ratio: 2;
    margin-left: -100px;
    border: 2px solid red;
}

.image-thumbnail{
    height: 100%;
    aspect-ratio: 1;
}

.image-fullscreen{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

@media(max-width: 800px){
    #thumbnail-container{
        left: 150px;
    }
}